<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    <div id="container">
        <!-- <div class="item">Lorem ipsum dolor sit amet.</div>
        <div class="item">Itaque officiis aut quidem enim!</div>
        <div class="item">Incidunt accusamus doloribus nam illum.</div>
        <div class="item">Velit perspiciatis unde quaerat molestiae.</div> -->
        <div class="item">Lorem.</div>
        <div class="item">Beatae.</div>
        <div class="item">Reiciendis.</div>
        <div class="item">Repudiandae?</div>
    </div>
    <div id="container2">
        <!-- <div class="item">Lorem ipsum dolor sit amet Lorem, ipsum dolor sit amet consectetur.</div>
        <div class="item">Itaque officiis aut quidem enim!</div>
        <div class="item">Incidunt accusamus doloribus nam illum.</div>
        <div class="item">Velit perspiciatis unde quaerat molestiae.</div> -->
        <div class="item">Lorem.</div>
        <div class="item">Beatae.</div>
        <div class="item">Reiciendis.</div>
        <div class="item">Repudiandae?</div>
    </div>
    <div id="container3">
        <div class="item">Lorem ipsum dolor sit amet Lorem, ipsum dolor sit amet consectetur.</div>
        <div class="item">Itaque officiis aut quidem enim!</div>
        <div class="item">Incidunt accusamus doloribus nam illum.</div>
        <div class="item">Velit perspiciatis unde quaerat molestiae.</div>
        <div class="item">Lorem.</div>
        <div class="item">Beatae.</div>
        <div class="item">Reiciendis.</div>
    </div>
    <div id="container4">
        <div class="item">Lorem.</div>
        <div class="item">Beatae.</div>
        <div class="item" id="especial">Reiciendis.</div>
        <div class="item">Repudiandae?</div>
    </div>
    <div id="container5">
        <div class="item">Lorem.</div>
        <div class="item">Beatae.</div>
        <div class="item" id="especial2">Reiciendis.</div>
        <div class="item">Repudiandae?</div>
    </div>
</body>
</html>